.text-content {
    min-width: 600px;
    width: 60%;
    text-indent: 30px;
    background-color: whitesmoke;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border-radius: 15px;
    color: #2e1100;
    font-size: 1.1em;
    font-family: Arial;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

html {
    height: 100%;
}

.license {
    margin-top: auto;
    padding: 20px;
}

.header {
    margin: auto;
}

body {
    background-color: bisque;
}